@import "Header";
@import "Navigation";
@import "SettingBoard";
@import "SelectionField";

* {
  font-family: 'Poppins', sans-serif;
}

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0 auto;
  background-color: #f7f7f7;
}

.App {
  display: flex;
  flex-direction: row;
}

.content_block {
  width: 100%;
}
