.popup_block {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(94, 92, 171, 0.2901960784);
}

.popup_container {
  max-width: 800px;

  .anticon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;

    :hover {
      cursor: pointer;
    }
  }
}

.popup_field {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 25px 40px;

  border-radius: 5px;
  background-color: #FFF;

  .ant-select-selector {
    width: 200px!important;
    margin-left: 5px;
  }

  .ant-picker {
    width: 200px!important;
    margin-left: 5px;

    input {
      margin: 0;
    }
  }

  input {
    width: 200px;
    margin-left: 5px;
  }

  button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    color: #f7f7f7;
    background-color: #44419f;

    border-radius: 5px;
    border: none;
  }
}

.user_info,
.additional_info {
  display: flex;
}

.additional_info {
  margin: 20px 0;
}

.popup_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title_form {
  color: white;
  font-size: 14px;
  margin: 0;
}